:root {
  --color-white: #ffffff;
  --color-green: #cbdbc5;
  --color-green-dark: #546650;
  --color-grey-1: #e8e6e6;
  --color-grey-2: #6b6b6b;
  --color-black-1: #000;
  --color-black-2: #212121;
  --color-red: #f15906;

  --m-p-spacing: 1.6rem;
  --m-p-spacing-lg: 2.4rem;
  --m-p-spacing-xl: 8rem;
}
* {
  box-sizing: border-box;
}
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
*:focus {
  outline: 4px solid var(--color-red);
}
html,
body {
  width: 100vw;
  height: 100vh;
}
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  min-width: 400px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: var(--m-p-spacing);
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}
/* HEADER */
.navbar {
  width: 100vw;
  min-width: 400px;
  height: 9.6rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: var(--m-p-spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--m-p-spacing-xl);
  background-color: var(--color-white);
  z-index: 4;
}
.logo {
  width: 16rem;
  height: 5.4rem;
  font-size: 4rem;
  line-height: 4rem;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 4px solid var(--color-black-1);
  margin-left: var(--m-p-spacing-xl);
}
.logo p:last-child {
  font-size: 2rem;
  line-height: 2rem;
  width: 3rem;
}
ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.navbar__optionList {
  gap: var(--m-p-spacing-xl);
  align-items: center;
  color: var(--color-black-2);
  font-size: 1.6rem;
}
.navbar li {
  min-width: 4rem;
}
svg {
  fill: inherit;
}
/* MOBILE MENU OVERLAY */
.menu__btn {
  display: none;
  margin-right: var(--m-p-spacing-lg);
}
.menu__overlay {
  position: absolute;
  top: 0;
  left: 100vw;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 5;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
  font-size: 2.4rem;
  display: none;
  transition: all 2s ease 0.1s;
}
.menu__overlay--open {
  transform: translateX(-100vw);
}
.menu__header {
  width: 100%;
}
.menu__headerList {
  width: 100%;
  justify-content: space-between;
}
.menu__main {
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}
.menu__socialLinks {
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
aside {
  width: 9.6rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.socialLinks {
  flex-direction: column;
  gap: 2rem;
}
/* MAIN */
.main__container {
  width: 100%;
  height: 100%;
}
.landing {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 2fr 1fr 5fr 1fr 1fr;
  grid-template-columns: 2fr 6fr 15fr 1fr 2fr 3fr 9fr 9fr;
  grid-template-areas:
    'left left left left right right right right'
    'left left left left right right right right'
    'left left left left right right right right'
    'left left left left right right right right'
    'left left left left right right right right';
}

.landing__right {
  background-color: var(--color-green);
  grid-area: right;
}
.image__containerOuter {
  background-color: var(--color-white);
  grid-row-start: 2;
  grid-row-end: span 3;
  grid-column-start: 3;
  grid-column-end: span 4;
  z-index: 1;
  padding: var(--m-p-spacing);
  opacity: 0;
  transition: all 0.6s ease;
  animation: blockEntry 2.5s ease-in-out 1s 1 normal forwards;
}
.image__containerOuter:hover {
  opacity: 0.8;
}
.image__containerInner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heading__containerOuter {
  background-color: var(--color-white);
  grid-row-start: 3;
  grid-row-end: span 1;
  grid-column-start: 6;
  grid-column-end: span 2;
  z-index: 2;
  padding: var(--m-p-spacing);
  opacity: 0;
  animation: blockEntry 2.5s ease-in-out 2.5s 1 normal forwards;
}
.heading__containerInner {
  width: 100%;
  height: 100%;
  background-color: var(--color-grey-1);
  padding: var(--m-p-spacing-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.heading__containerInner p {
  padding-bottom: var(--m-p-spacing);
  font-size: 1.4rem;
}
.headingOverlay__container {
  position: relative;
}
.headingOverlay__header,
.headingOverlay__link {
  width: 100%;
  height: 100%;
  background-color: var(--color-grey-1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.headingOverlay__header {
  animation: textReveal 2s ease 3.7s 1 normal forwards;
}
.headingOverlay__link {
  animation: textReveal 2s ease 4.7s 1 normal forwards;
}
h1 {
  font-size: 6rem;
  margin: 0;
  color: var(--color-grey-2);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: inherit;
  letter-spacing: -4px;
  line-height: 6.4rem;
  max-width: 32rem;
}
h1 span {
  color: var(--color-black-1);
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  padding-left: 0.5rem;
}
a:hover {
  color: var(--color-grey-2);
}

a:hover svg {
  fill: var(--color-grey-2);
}
a:hover div {
  color: var(--color-black-1);
}
a:visited {
  color: inherit;
}
a span {
  margin-left: 1rem;
}

.decorationSlashLines__containerOuter {
  padding: var(--m-p-spacing);
  grid-row-start: 4;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: span 2;
  z-index: 1;
}
.decorationSlashLines__containerInner {
  width: 100%;
  height: 100%;
}

.support__container {
  position: fixed;
  bottom: var(--m-p-spacing-lg);
  right: var(--m-p-spacing-lg);
  z-index: 8;
}
.support__btn {
  width: 6.4rem;
  height: 6.4rem;
  background-color: var(--color-green-dark);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.support__btn:active,
.support__btn:focus,
.support__btn:hover {
  background-color: var(--color-grey-2);
  transform: scale(1.05);
}
.support__btn svg {
  fill: var(--color-white);
}

/* ANIMATIONS */

@keyframes blockEntry {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes textReveal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1560px) {
  .landing {
    grid-template-columns: 2fr 3fr 18fr 1fr 2fr 3fr 13fr 5fr;
  }
  .heading__containerInner p {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 1360px) {
  .landing {
    grid-template-columns: 1fr 2fr 20fr 1fr 2fr 3fr 13fr 5fr;
  }
}
@media only screen and (max-width: 1182px) {
  html {
    font-size: 50%;
  }
  .landing {
    grid-template-rows: 2fr 1fr 4fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 20fr 1fr 2fr 3fr 15fr 3fr;
  }
}
@media only screen and (max-width: 962px) {
  body {
    background-color: var(--color-green);
  }
  .navbar {
    gap: var(--m-p-spacing-lg);
  }
  .navbar__optionList {
    gap: var(--m-p-spacing-lg);
  }
  .main__container {
    margin-top: 9.6rem;
  }
  .landing {
    display: flex;
    flex-direction: column;
    gap: var(--m-p-spacing);
  }
  .image__containerOuter {
    width: 80vw;
    max-height: 60vh;
    z-index: 2;
  }
  .heading__containerOuter {
    width: 80vw;
    align-self: flex-end;
  }
  h1 {
    max-width: 100%;
  }
  .decorationSlashLines__containerOuter {
    width: 100%;
    position: absolute;
    bottom: 20vh;
    left: 0;
    z-index: 1;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
  .navbar {
    gap: 0;
  }
  .logo {
    margin-left: var(--m-p-spacing-lg);
  }
  .navbar__listItem--desktop {
    display: none;
  }
  .menu__btn {
    display: block;
  }
  .menu__overlay {
    display: flex;
  }
  aside {
    display: none;
  }
  .image__containerOuter,
  .heading__containerOuter {
    width: 100%;
  }
}
